* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    overflow-x:hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: peru;
    color: lemonchiffon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translate(-400%);                    /*para que unos se vayan pa la izq y otros pa la dcha*/
}

.box.show {
    transform: translateX(0);
}

.box h2{
    font-size: 45px;
}